$font-stack: 'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
$color-background-grey: #dddddd;
$color-background-lightgrey: #f4f4f4;
$color-text-light: #bbbbbb;
$color-text-dark: #333333;
$break-small: 768px;
$animation: all ease 0.3s;
$animation-long: all ease 0.6s;
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

#root {
    display: flex;
    height: 100%;
    width: 100%;
}

.main {
    flex: 1;
    display: flex;
    flex-flow: column;
    .banner {
        height: 30px;
        background: #858585;
        padding: 8px 20px;
        span {
            vertical-align: middle;
            font-size: 18px;
            line-height: 30px;
            color: #fdfdfd;
        }
        .banner-button {
            float: right;
            line-height: 30px;
            margin-right: 40px;
            color: white;
            font-size: 18px;
            cursor: pointer;
            transition: $animation-long;
            &:hover {
                color: $color-text-light;
            }
            .fa {
                margin-right: 5px;
            }
        }
        .buy-link {
            display: flex;
            align-items: center;
            span {
                &:hover {
                    color: $color-text-light;
                }
            }
        }
    }
    .main-container {
        flex: 1;
        display: flex;
        .project-container {
            flex: 4;
            background: $color-background-lightgrey;
            $padding-left-right: 20px;
            $font-size: 16px;
            line-height: 32px;
            font-size: $font-size;
            display: flex;
            flex-flow: column;
            .project-explorer {
                flex: 2;
                .show-items {
                    ~.project-file {
                        display: block;
                    }
                }
                .hide-items {
                    ~.project-file {
                        display: none;
                    }
                }
            }
            .project-file {
                padding-right: $padding-left-right;
                padding-left: $padding-left-right*2;
                color: #5e5e5e;
                cursor: pointer;
                transition: $animation;
                &:hover {
                    background: #e5e5e5;
                }
            }
            .project-file-selected {
                background: #e5e5e5;
            }
            .project-folder-container {
                .project-folder {
                    padding: 0 $padding-left-right;
                    color: #5e5e5e;
                    cursor: pointer;
                    transition: $animation;
                    &:hover {
                        background: #e5e5e5;
                        background-origin: content-box;
                    }
                    .folder-icon-collapsed {
                        $size: 4px;
                        width: 0;
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                        height: 0;
                        border-style: solid;
                        border-width: $size 0 $size $size*2;
                        border-color: transparent transparent transparent $color-text-dark;
                    }
                    .folder-icon-expanded {
                        $size: 8px;
                        width: 0;
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                        height: 0;
                        border-style: solid;
                        border-width: 0 0 $size $size;
                        border-color: transparent transparent $color-text-dark transparent;
                    }
                }
                .project-file {
                    padding: 0 $padding-left-right;
                    padding-left: $padding-left-right*3;
                }
            }
            .current-project {
                background: $color-background-grey;
                padding: 0 $padding-left-right;
                position: relative;
                font-weight: bold;
                line-height: 36px;
                color: #858585;
                cursor: pointer;
                transition: $animation;
                &:hover {
                    background: #cccccc;
                }
                .fa {
                    margin-right: 10px;
                }
                .project-items-container {
                    position: absolute;
                    left: 0;
                    top: 36px;
                    background: $color-background-grey;
                    width: 100%;
                    .project-item {
                        margin-left: $padding-left-right*-2;
                        padding: 0 $padding-left-right*4;
                        transition: $animation;
                        &:hover {
                            background: #cccccc;
                        }
                    }
                }
            }
            .configure-container {
                flex: 1;
                .configure-container-header {
                    background: #dddddd;
                    font-weight: bold;
                    line-height: 36px;
                    color: #858585;
                    padding: 0 20px;
                    display: flex;
                    justify-content: space-between;
                    .configure-container-title {
                        flex: 1;
                    }
                    .configure-button {
                        flex: 1;
                        display: flex;
                        justify-content: flex-end;
                        opacity: 1;
                        visibility: visible;
                        transition: $animation-long;
                        span {
                            margin-left: 20px;
                            cursor: pointer;
                        }
                    }
                    .hide {
                        opacity: 0;
                        visibility: hidden;
                        transition: $animation-long;
                    }
                }
                .configure-deploy-link {
                    padding: 10px 20px;
                    display: flex;
                    align-content: stretch;
                    a {
                        width: 50%;
                        border: 2px solid #858585;
                        color: #858585;
                        text-decoration: none;
                        text-align: center;
                        font-weight: 600;
                        transition: $animation-long;
                        &:hover {
                            background: #858585;
                            color: #f4f4f4;
                        }

                        .fa {
                            margin-right: 10px;
                        }
                    }
                }
                .configure-item {
                    padding: 0 20px;
                    .configure-item-key {}
                    .configure-item-value {
                        width: 100%;
                    }
                }
            }
            .show-items {
                .project-items-container {
                    display: block;
                }
            }
            .hide-items {
                .project-items-container {
                    display: none;
                }
            }
        }
        .canvas-container {
            width: 100% !important;
            height: 100% !important;
        }
        .center-container {
            flex: 10;
            display: flex;
            flex-flow: column;
            .controlBar {
                background-color: white;
                border-bottom: solid;
                border-bottom-color: #dddddd;
                border-bottom-width: 1px;
                width: 100%;
                height: 36px;
                display: flex;
                flex-flow: row-reverse;
                align-items: center;
                .run-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    text-align: center;
                    background: #1f76ad;
                    margin-top: 6px;
                    margin-bottom: 6px;
                    width: 120px;
                    cursor: pointer;
                    transition: $animation-long;
                    &:hover {
                        background: #19a6ff;
                    }
                    .fa-play,
                    .fa-stop {
                        margin-right: 10px;
                    }
                }
                .stop {
                    background: #095286;
                }
                .run-info {
                    color: red;
                    font-weight: bold;
                    margin-right: 30px;
                }
            }
            .editor-container {
                flex: 1;
            }
        }
        .right-container {
            display: flex;
            flex-flow: column;
            flex: 9;
            .board-container {
                flex: 2;
                display: flex;
                justify-content: center;
            }
            .get-a-kit {
                height: 50px;
                display: flex;
                justify-content: center;
                $color-link: #095286;
                a {
                    height: 30px;
                    line-height: 30px;
                    padding: 0px 18px;
                    font-weight: 600;
                    color: $color-link;
                    border: 2px solid $color-link;
                    transition: $animation-long;
                    &:hover {
                        color: white;
                        background: $color-link;
                    }
                }
            }
            div.react-console-container {
                height: 100%;
                width: auto;
                background: #f4f4f4;
                .react-console-message {
                    color: #4c4c4c;
                }
            }
            .showConsole {
                flex: 1;
            }
        }
    }
}

.tabBar {
    width: 100%;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #323327;
    color: #CCCCCC;
    padding: 0 47px;
}

.tabBar .onActive {
    background-color: #272822;
    color: #F8F8F2;
}

.tabBar {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.codeTab {
    height: 30px;
    line-height: 30px;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.editor {
    width: 100%;
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    /* Black background with opacity */
    z-index: 5;
    /* Specify a stack order in case you're using a different order for other elements */
    justify-content: space-between;
    align-items: center;
    .instruction {
        width: 50%;
        height: 60%;
        min-height: 400px;
        @media screen and (max-width: 768px) {
            width: 90%;
            height: 90%;
        }
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: white;
        .header-bar {
            background-color: black;
            @media screen and (max-width: 768px) {
                background-color: white;
            }
            flex: 1;
            display: flex;
            .step-container {
                flex: 6;
                display: flex;
                @media screen and (max-width: 768px) {
                    visibility: hidden;
                }
                .step {
                    flex: 1;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;
                    div {
                        display: inline-block;
                    }
                    .step-circle {
                        width: 30px;
                        height: 30px;
                        border: 2px solid white;
                        border-radius: 100%;
                        background: black;
                        margin: 0 10px;
                    }
                    .step-circle-chosen {
                        width: 16px;
                        height: 16px;
                        margin-left: -33px;
                        border-radius: 100%;
                        background: white;
                    }
                    .step-label {
                        vertical-align: middle;
                        color: white;
                        font-family: $font-stack;
                        font-size: 15px;
                        line-height: 20px;
                        margin-left: 17px;
                    }
                }
            }
            .close-button {
                flex: 1;
                font-size: 25px;
                text-align: center;
                align-self: center; // padding-right: 20px;
                color: white;
                @media screen and (max-width: 768px) {
                    color: black;
                }
                cursor: pointer;
                &:hover {
                    color: grey;
                }
            }
        }
        .content {
            flex: 10;
            display: flex;
            @media screen and (max-width: 768px) {
                flex-direction: column;
                flex: 20;
            }
            .text-instruction {
                flex: 5;
                @media screen and (max-width: 768px) {
                    flex: 9;
                    order: 2;
                }
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-right: 30px;
                padding-left: 30px;
                .text-instruction-title {
                    flex: 2;
                    margin-top: 70px;
                    @media screen and (max-width: 768px) {
                        margin-top: 0;
                    }
                    font-family: $font-stack;
                    font-weight: normal;
                    color: $color-text-dark;
                    line-height: 27px;
                    font-size: 20px;
                }
                .text-instruction-description {
                    flex: 3;
                    overflow: hidden;
                    display: flex;
                    .paragraph-container {
                        flex: 40;
                        .paragraph {
                            transition: 0.5s all ease;
                            font-weight: 400;
                            font-family: $font-stack;
                            color: $color-text-light;
                            font-size: 15px;
                            line-height: 20px;
                            padding-bottom: 10px;
                        }
                        .paragraph-selected {
                            color: $color-text-dark;
                        }
                    }
                    .paragraph-scrollbar {
                        flex: 1;
                        margin-left: 10px;
                        height: 100%;
                        border-radius: 5px;
                        background-color: #cccdce;
                        .scrollbar-indicator {
                            border-radius: 5px;
                            transition: 0.5s all ease;
                            background-color: #cccdce;
                        }
                        .scrollbar-indicator-selected {
                            background-color: grey;
                        }
                    }
                }
                .operation {
                    flex: 1;
                    font-family: $font-stack;
                    font-size: 15px;
                    line-height: 20px;
                    margin-top: 10px;
                    .operation-button-1 {
                        display: inline-block;
                        background-color: white;
                        color: black;
                        border: 1px solid #cccdce;
                        padding: 4px 30px;
                        margin: 0 10px 0 0;
                        cursor: pointer;
                        &:hover {
                            background-color: #cccdce;
                        }
                    }
                    .operation-button-2 {
                        display: inline-block;
                        padding: 4px 30px;
                        background-color: #0078d7;
                        color: white;
                        cursor: pointer;
                        &:hover {
                            background-color: #0063b1;
                        }
                    }
                }
                .link-container {
                    flex: 1;
                    a {
                        padding-right: 10px;
                        font-size: 12px;
                         :visited {
                            text-decoration: none;
                        }
                    }
                }
            }
            .picture-instruction {
                flex: 6;
                align-self: center;
                padding-right: 30px;
                @media screen and (max-width: 768px) {
                    padding-right: 10px;
                    padding-left: 10px;
                }
                .picture-container {
                    margin-top: 10px;
                    @media screen and (max-width: 768px) {
                        margin-top: 0;
                    }
                    overflow: hidden;
                    display: flex;
                    .picture {
                        transition: 0.5s all ease;
                        width: 100%;
                        min-width: 100%;
                        height: 100%;
                        margin-bottom: 20px;
                    }
                }
                .picture-indicator-container {
                    margin-top: 20px;
                    @media screen and (max-width: 768px) {
                        margin-top: 0;
                    }
                    text-align: center;
                    .picture-indicator {
                        display: inline-block;
                        margin: 0 10px;
                        width: 9px;
                        height: 9px;
                        border-radius: 100%;
                        background: #cccdce;
                        transition: 0.5s all ease;
                        cursor: pointer;
                    }
                    .picture-indicator-selected {
                        background-color: #0078d7;
                    }
                }
            }
        }
    }
}

.element-none {
    display: none !important;
}

.element-hide {
    visibility: hidden !important;
}

.bold {
    font-weight: 600;
}

.placeholder-1 {
    flex: 1;
}

.placeholder-2 {
    flex: 2;
}

.no-underline {
    text-decoration: none;
}

.highlight {
    z-index: 7;
    border: 2px solid yellow;
    background: white;
}