.rightPanel {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  flex-flow: column;
}

@media (min-width: 769px) {
  .leftPanel{
    flex: 6;
  }

  .rightPanel{
    overflow: hidden;
    margin: 0 0px;
    height: 100%;
    flex: 7;
  }
}

@media (max-width: 768px) {
  .leftPanel, .rightPanel{
    width: 98%;
    margin: 0 auto;
  }
}

#root {
    height: 100%;
}